<div id="page-wrap">

        <img src="{{ site.baseurl }}/images/ozeljko.jpg" alt="Photo of Željko Ostojić" id="pic" />

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn">Željko Ostojić</h1>
            <h3>Web Developer</h3>

            <p>
                From: <span>Belgrade, Serbia</span><br />
                <!--Cell: <span class="tel">+381-63-75-03-xxx</span><br />-->
                Skype: <span>ozeljko</span><br />
                Email: <a class="email" href="mailto:ozeljko@hotmail.com">ozeljko@hotmail.com</a>
            </p>
        </div>

        <div id="objective">
            <p>
              An enthusiastic web developer with good attention to detail and strong will to learn new technologies.
              Able to effectively self-manage during independent projects, as well as collaborate in a team setting.
            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2>Certiﬁed PHP Web Developer ITAcademy, Belgrade</h2>
                <p><strong>Major:</strong> PHP & MySqL Programming <br />
                   <strong>Minor:</strong> JavaScript Programming and Ajax, Apache</p>
                <p><strong><i>Udemy & FreeCamp</i></strong> self-education</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Skills</dt>
            <dd>
                <h2>Programming skills</h2>
                <p>Wordpress, HTML5, CSS3, JavaScript, Jquery, Bootstrap4, PHP, MySQL, C#, Unity, ThreeJs, Firebase, Python, cPanel Administration</p>

                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, etc), Windows, Setting up computers and printers</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Experience</dt>
            <dd>
                <h2>Lenador Studios <span>Back-end Developer</span></h2>
                <ul>
                    <li>Planned, developed, tested, deployed, and maintained web applications.</li>
                    <li>Provided effective troubleshooting and remediation for web applications.</li>
                    <li>Wrote SQL statements and stored procedures.</li>
                    <li>Followed policies and procedures related to application methods and quality standards at all times.</li>
                </ul>

                <h2>The Center for Studies in Cultural Development in the Republic of Serbia<span>Php Programmer</span></h2>
                <ul>
                    <li>Creating models within an MVC application that implements the business logic necessary to satisfy business requirements.</li>
                    <li>Implementing advanced paging and functionality for each screen</li>
                    <li>Implementing web services, google maps, xml document to locate and describe the services.</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Hobbies</dt>
            <dd>Reading, Games, Playing Bass Guitar</dd>

            <dd class="clear"></dd>

            <dt>References</dt>
            <dd>Available on request</dd>

            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

</div>
