<div id="page-wrap">

        <img src="{{ site.baseurl }}/images/ozeljko.jpg" alt="Photo of Željko Ostojić" id="pic" />

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn"></h1>
            <h3></h3>

            <p>
                
            </p>
        </div>

        <div id="objective">
            <p>
              An enthusiastic web developer with good attention to detail and strong will to learn new technologies.
              Able to effectively self-manage during independent projects, as well as collaborate in a team setting.
            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2></h2>
                <p><strong>Major:</strong> <br />
                   <strong>Minor:</strong> </p>
                <p><strong><i></i></strong> </p>
            </dd>

            <dd class="clear"></dd>

            <dt>Skills</dt>
            <dd>
                <h2>Programming skills</h2>
                <p>Wordpress, HTML5, CSS3, JavaScript, Jquery, Bootstrap4, PHP, MySQL, C#, Unity, ThreeJs, Firebase, Python, cPanel Administration</p>

                <h2>Computer skills</h2>
                <p></p>
            </dd>

            <dd class="clear"></dd>

            <dt>Experience</dt>
            <dd>
                <h2></span></h2>
                <ul>
                    <li>Planned, developed, tested, deployed, and maintained web applications.</li>
                    <li>Provided effective troubleshooting and remediation for web applications.</li>
                    <li>Wrote SQL statements and stored procedures.</li>
                    <li>Followed policies and procedures related to application methods and quality standards at all times.</li>
                </ul>

               
                <ul>
                    <li>Creating models within an MVC application that implements the business logic necessary to satisfy business requirements.</li>
                    <li>Implementing advanced paging and functionality for each screen</li>
                    <li>Implementing web services, google maps, xml document to locate and describe the services.</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Hobbies</dt>
            <dd>Reading</dd>

            

            

            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

</div>
